@import "{{ site.theme }}";

header {
  display: none;
}

footer {
    display: none;
}


body {
    display: flex;
    justify-content: center;
}

section {
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 80%;
    height: 100%;
}
